@import "../styles/common.scss";

#root {


    .main-container {
        // width     : 100%;
        // box-sizing: border-box;
        width       : 100vw;
        // height      : 100vh;
        // min-width: 1300px;
        overflow-x  : auto;
        overflow-y: hidden;

        .content-container {
            // height   : 100%;
            width    : 100%;
            // min-width: 1300px;

        }
    }
}