.medical-facility-section {
    width         : 100%;
    box-sizing    : border-box;
    padding       : 30px 65px;
    display       : flex;
    flex-direction: column;

    .header-section {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        padding        : 10px 0;

        .title-section {
            font-weight: bold;
        }

        .more-info-section {
            text-transform  : uppercase;
            cursor          : pointer;
            text-decoration: none;
            color: black;
            height          : 40px;
            width           : 100px;
            text-align      : center;
            line-height     : 40px;
            background-color: #ccc;

            &:hover {
                background-color: #f7d800;
                color           : #fff;
            }
        }
    }

    .slide-item {
        padding: 0 24px;

        .slide-body {
            text-decoration: none;
            cursor         : pointer;

            .slide-img{
                overflow     : hidden;
                border-radius: 8px;

                img {
                    margin       : 0 auto;
                    height       : 160px;
                    width        : 100%;
                    transition: 0.4s;
                }
                &:hover {
                        img {
                        transform : scale(120%);
                        transition: 0.4s;
                    }
                }
            }

            &:hover {
                h6 {
                    color: #337ab7;

                }
            }

            h6 {
                color     : #111;
                padding   : 5px 0;
                font-size : 16px;
                margin-top: 8px;
            }

        }
    }

    .slick-arrow {
        z-index         : 10;
        top             : 50%;
        transform       : translateY(-50%);
        width           : 40px;
        height          : 80px;
        background-color: #fff;
        border          : 1px solid rgba($color: #000000, $alpha: 0.3);
    }

    .slick-next {
        right: 0px;

        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content    : "\f105";
            font-size  : 40px;
            color      : rgba($color: #000000, $alpha: 0.6);
        }
    }

    .slick-prev {
        left: 0px;

        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size  : 40px;
            color      : rgba($color: #000000, $alpha: 0.6);
            content    : "\f104";
        }
    }

}