.address {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding      : 12px 0;
    opacity      : 0.8;

    .details-title {
        text-transform: uppercase;
        font-weight   : 600;
    }

    p {
        margin: 0;
    }
}

.address-loading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding      : 12px 0;

    .details-title {
        height: 35px;
        width : 100px;
    }

    .details-name {
        height: 35px;
        width : 150px;
    }

    .details-address {
        height: 35px;
        width : 120px;
    }

    .loading {
        height          : 100%;
        animation       : loading 1s infinite;
        background-color: rgba(0, 0, 0, 0.1);
    }

    @keyframes loading {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

}

.price {
    padding-top   : 12px;
    opacity       : 0.8;
    display       : flex;
    flex-direction: row;

    span {
        margin-right: 4px;
    }

    span.more-btn {
        color : #56c7e0;
        cursor: pointer;
    }
}

.price-more {
    padding-top: 12px;
    opacity    : 0.8;

    .price-details {
        display       : flex;
        flex-direction: row;

        span {
            margin-right: 4px;
        }
    }

    .price-foreing {}

    .payment-details {}

    .less-btn {
        color : #56c7e0;
        cursor: pointer;
    }
}

.price-loading {
    padding-top: 12px;

    .price-title {
        width : 170px;
        height: 35px;
    }

    .loading {
        height          : 100%;
        animation       : loading 1s infinite;
        background-color: rgba(0, 0, 0, 0.1);
    }

    @keyframes loading {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
}