.home-about-me {
    padding        : 20px 80px;
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;

    .details {
        width : 40%;
        margin: auto 0;
    }
}