.schedule-manage{
    .pick-hour-container{
        .btn{
            margin: 12px;
            background-color: #c0edf7;
            padding: 0 10px;
            height: 30px;
            width: 163px;
            box-sizing: border-box;
            &:hover{
                background-color: #85e0f5;
            }
        }
        .btn.active{
            border: 1px solid #1cc4d5;
            background-color: #42b1fb;
        }
    }
    .action-btns{
        text-align: center;
        .btn {
            margin: 20px;
            outline: none;
            border: none;
            padding: 0 16px;
            background-color: #009aff;
            color: white;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}