.news-section {
    width         : 100%;
    box-sizing    : border-box;
    padding       : 30px 65px;
    display       : flex;
    flex-direction: column;

    .slide-item {
        padding: 0 24px;

        .slide-body {
            cursor: pointer;

            h5 {
                font-size  : 16px;
                font-weight: 600;
            }

            img {
                margin       : 0 auto;
                height       : 160px;
                width        : 100%;
                border-radius: 8px;
            }
        }
    }

    .slick-arrow {
        display: none !important;
    }

    .slick-next {}

    .slick-prev {}

}