.system-container {
    .doctor-manage-container {
        .manage-doctor-title {
            text-align    : center;
            font-size     : 20px;
            font-weight   : 600;
            text-transform: uppercase;
            margin        : 20px 0;
        }

        .more .info {
            .content-left {}

            .content-right {}
        }

        .manage-doctor-editor {
            margin-top: 12px;
        }

        .action-btn{
            text-align: center;
            .submit-button {
                margin: 20px;
                outline: none;
                border: none;
                padding: 8px 16px;
                background-color: #009aff;
                color: white;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}