.system-container {
    .warning-message {
        background-color: #f7e2b3;
        color           : red;
        padding         : 0 4px;
        margin-right    : 10px;
        font-size       : 13px;
        border-radius   : 4px;
        left            : 120px;

        &::before {
            content     : '';
            border-width: 8px 4px;
            border-style: solid;
            border-color: #f7e2b3 transparent transparent transparent;
            position    : absolute;
            top         : 100%;
            left        : 8px;
        }
    }

    table {
        font-family    : arial, sans-serif;
        border-collapse: collapse;
        width          : 100%;
        margin-bottom  : 24px;

        td,
        th {
            border    : 1px solid #dddddd;
            text-align: left;
            padding   : 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .fas {
            cursor      : pointer;
            margin-right: 4px;
            opacity     : 0.6;
            color       : #08ca22;

            &:hover {
                opacity: 1;
            }
        }

        .preview {
            border         : 1px dashed #fff;
            width          : 40%;
            height         : 40%;
            margin         : auto;
            color          : #fff;
            text-align     : center;
            border-radius  : 4px;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            cursor         : pointer;
            position       : relative;

            img {
                height  : 100%;
                width   : 100%;
                position: absolute;
                top     : 0;
                left    : 0;
            }

            .icon-upload {
                font-size: 100px;
            }

            h2 {
                margin: 0;
            }
        }
    }

    .preview {
        border       : 1px dashed #fff;
        width        : 200px;
        height       : 200px;
        margin       : auto;
        color        : #fff;
        text-align   : center;
        border-radius: 4px;
        cursor       : pointer;
        position     : relative;

        img {
            height  : 100%;
            width   : 100%;
            position: absolute;
            top     : 0;
            left    : 0;
        }

        .icon-upload {
            font-size: 100px;
            color    : #0043ff;
        }
    }
}