.doctor-list-container {
    width       : 100%;

    .doctor-info-item {
        background-color: #fff;
        border-radius   : 8px;
        width           : 100%;
        box-shadow      : 0 0 8px rgba(0, 0, 0, 0.2);
    }
}