.booking-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    .booking-body{
        margin: auto;
        width: 800px;
        // height: 400px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .modal-booking-title{
            font-weight: 600;
            padding: 12px;
            border-bottom: 1px solid rgba(0,0,0,0.4);
        }
        .modal-booking-content{
            padding: 12px;
            .modal-price{

            }
        }
        .modal-booking-footer{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            margin-right: 12px;
            .actions-btn{
                // margin: auto 0;
                
                .btn{
                    padding: 0 12px;
                }
                .accept-btn{
                    background-color: rgb(218, 150, 26);
                    margin-right: 12px;
                }
                .cancel-btn{
                    background-color: gray;
                }
            }
        }
    }
}