.profile-doctor {
    display           : flex;
    flex-direction    : row;
    justify-content   : flex-start;
    // padding        : 16px;

    .doctor-avatar {
        width      : 100px;
        height     : 100px;
        overflow   : hidden;
        // padding : 10px;


        img {
            width        : 100%;
            border-radius: 50%;
            height       : 100%;
        }
    }

    .info {
        // margin-left: 16px;
        padding: 0 16px;
        flex   : 1;

        .doctor-name {
            font-size       : 20px;
            // margin-bottom: 8px;
            font-weight     : 600;
        }

        .doctor-description {
            // max-width: 600px;
            // margin: 0;
        }

        .date-time {
            p {
                margin: 0;
            }
        }

        .modal-price {
            width         : 100%;
            height        : 100%;
            display       : flex;
            flex-direction: row;

            span {
                margin-right: 4px;
            }

            // margin: auto 16px;
        }
    }

}

.profile-doctor-loading {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;

    .doctor-avatar {
        width        : 100px;
        height       : 100px;
        overflow     : hidden;
        border-radius: 50%;
    }

    .info {
        padding: 0 16px;
        flex   : 1;

        .doctor-name {
            height: 35px;
            width : 150px;
        }

        .doctor-description {
            height: 100px;
            width : 100px;
        }
    }

    .loading {
        height          : 100%;
        animation       : loading 1s infinite;
        background-color: rgba(0, 0, 0, 0.1);
    }

    @keyframes loading {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }


}